<div class="container">
  <h1 id="title">Workout Tracker</h1>
  <br />
  <h3>
    <span [ngClass]="daysSinceWorkoutClass()">
      <app-counter [lastWorkoutInput]="lastWorkout"></app-counter>
      Since Last Workout
    </span>
  </h3>
  <button *ngIf="!selected" (click)="newWorkoutForm = true"   class="btn btn-outline-success">Add New Workout</button>
  <form
    class="table table-striped table-hover"
    name="newTodoForm"
    *ngIf="!selected && newWorkoutForm"
  >
    <hr />
    <label for="newWorkoutNotes">New Workout Notes</label>
    <input
      class="form-control"
      type="text"
      name="newWorkoutNotes"
      [(ngModel)]="newWorkout.notes"
    />
    <label for="newWorkoutMood">Mood:</label>
    <input
      class="form-control"
      type="number"
      min="0"
      max="10"
      name="newWorkoutMood"
      [(ngModel)]="newWorkout.mood"
    />
    <br />
    <input
      class="btn btn-outline-success"
      type="submit"
      value="Add Workout"
      (click)="addWorkout(newWorkout)"
    /> | |
    <input
      class="btn btn-outline-danger"
      type="submit"
      value="Cancel"
      (click)="clearNewWorkoutForm()"
    />
  </form>
  <br />
  <table class="table table-striped table-hover table-dark" *ngIf="!selected">
    <thead class="">
      <tr>
        <td>Id</td>
        <td>Date</td>
        <td>Notes</td>
        <td>Mood</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of workouts">
        <td>{{ item.id }}</td>
        <td (click)="displayWorkout(item)">
          {{ item.date | date : "shortDate" }}
        </td>
        <td (click)="displayWorkout(item)">{{ item.notes }}</td>
        <td (click)="displayWorkout(item)">{{ item.mood }}</td>

        <td>
          <button
            class="btn btn-outline-danger"
            (click)="deleteWorkout(item.id)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div name="details" *ngIf="selected && !editWorkout">
    <button class="btn btn-outline-success" (click)="removeWorkout()">
      Display Workouts
    </button>
    <br />
    <table class="table table-striped table-dark table-hover">
      <thead class="">
        <tr>
          <td>Id:</td>
          <td>Date:</td>
          <td>Notes:</td>
          <td>Mood:</td>
          <td>Edit:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ selected.id }}</td>

          <td>{{ selected.date | date : "shortDate" }}</td>

          <td>{{ selected.notes }}</td>

          <td>{{ selected.mood }}</td>
          <td>
            <button class="btn btn-success" (click)="setEditWorkout()">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <app-exercise
      [selected]="selected"></app-exercise>
    </div>
  </div>
  <form
    class="table table-striped table-hover"
    name="editTodoForm"
    *ngIf="editWorkout"
  >
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <td>Notes:</td>
        <td>Mood:</td>
        <td>Save:</td>
        <td>Cancel:</td>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              class="form-control"
              type="text"
              name="task"
              [(ngModel)]="editWorkout.notes"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="number"
              name="description"
              min="0"
              max="10"
              [(ngModel)]="editWorkout.mood"
            />
          </td>
          <td>
            <input
              class="btn btn-success"
              type="submit"
              value="Save"
              (click)="updateWorkout(editWorkout)"
            />
          </td>
          <td>
            <input
              class="btn btn-danger"
              type="submit"
              value="Cancel"
              (click)="removeEditWorkout()"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
