.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
#strikeout {
  text-decoration: line-through;
  color: red !important;
}
#gold {
  color: rgb(201, 177, 39);
}
label {
  color: rgb(201, 177, 39);
}
