<div class="container">
  <h1>Workout Tracker</h1>
  <br />
  <h3>
    <span [ngClass]="daysSinceWorkoutClass()"
      >{{ daysSinceLastWorkout }} Days Since Last Workout
    </span>
  </h3>
  <br />
  <table class="table table-striped table-hover table-dark"  *ngIf="!selected">
    <thead class="">
      <tr >
        <td class="gold" >Id</td>
        <td class="gold">Date</td>
        <td class="gold">Notes</td>
        <td class="gold">Mood</td>
        <td class="gold">Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of workouts" >
        <td id="gold">{{ item.id }}</td>
        <td id="gold" (click)="displayWorkout(item)">
          {{ item.date | date : "shortDate" }}
        </td>
        <td id="gold" (click)="displayWorkout(item)">{{ item.notes }}</td>
        <td id="gold" (click)="displayWorkout(item)">{{ item.mood }}</td>

        <td>
          <button
            class="btn btn-outline-danger"
            (click)="deleteWorkout(item.id)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <form
    class="table table-striped table-hover"
    name="newTodoForm"
    *ngIf="!selected"
  >
    <hr />
    <label for="newWorkoutNotes">New Workout Notes</label>
    <input
      class="form-control"
      type="text"
      name="newWorkoutNotes"
      [(ngModel)]="newWorkout.notes"
    />
    <label for="newWorkoutMood">Mood:</label>
    <input
      class="form-control"
      type="number"
      min="0"
      max="10"
      name="newWorkoutMood"
      [(ngModel)]="newWorkout.mood"
    />
    <br />
    <input
      class="btn btn-outline-success"
      type="submit"
      value="Add Workout"
      (click)="addWorkout(newWorkout)"
    />
  </form>
  <div name="details" *ngIf="selected && !editWorkout">
    <button class="btn btn-outline-success" (click)="removeWorkout()">
      Display Workouts
    </button>
    <br />
    <table class="table table-striped table-dark table-hover">
      <thead class="">
        <tr>
          <td  id="gold">Id:</td>
          <td id="gold">Date:</td>
          <td id="gold">Notes:</td>
          <td id="gold">Mood:</td>
          <td id="gold">Edit:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="gold">{{ selected.id }}</td>

          <td id="gold">{{ selected.date | date : "shortDate" }}</td>

          <td id="gold">{{ selected.notes }}</td>

          <td id="gold">{{ selected.mood }}</td>
          <td id="gold">
            <button class="btn btn-success" (click)="setEditWorkout()">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form
    class="table table-striped table-hover"
    name="editTodoForm"
    *ngIf="editWorkout"
  >
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <td id="gold">Notes:</td>
        <td id="gold">Mood:</td>
        <td id="gold">Save:</td>
        <td id="gold">Cancel:</td>
      </thead>
      <tbody>
        <tr>
          <td id="gold">
            <input
              class="form-control"
              type="text"
              name="task"
              [(ngModel)]="editWorkout.notes"
            />
          </td>
          <td id="gold">
            <input
              class="form-control"
              type="number"
              name="description"
              min="0"
              max="10"
              [(ngModel)]="editWorkout.mood"
            />
          </td>
          <td id="gold">
            <input
              class="btn btn-success"
              type="submit"
              value="Save"
              (click)="updateWorkout(editWorkout)"
            />
          </td>
          <td id="gold">
            <input
              class="btn btn-danger"
              type="submit"
              value="Cancel"
              (click)="removeWorkout()"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
