.green {
  background-color: rgb(24, 113, 24);
}
.yellow {
  background-color: rgb(157, 157, 66);
}
.red {
  background-color: rgb(190, 44, 71);
}
#strikeout {
  text-decoration: line-through;
  color: red !important;
}
#gold {
  color: rgb(201, 177, 39);
}
.table-dark {
  color: rgb(201, 177, 39);
}
.table-dark > tbody > tr > td{
  color: rgb(201, 177, 39);
}
label {
  color: rgb(201, 177, 39);
}
