.green {
  background-color: rgb(96, 132, 163, .5 );
}
.yellow {
  background-color: rgb(157, 157, 66, .5);
}
.red {
  background-color: rgb(190, 44, 71, .5);
}
#strikeout {
  text-decoration: line-through;
  color: red !important;
}
#gold {
  color: rgb(201, 177, 39);
}
.table-dark {
  color: rgb(201, 177, 39);
}
.table-dark > tbody > tr > td{
  color: rgb(201, 177, 39);
}
table tr td, table tr th{
  background-color:rgb(96, 132, 163, .3 ) !important;
}
label {
  color: rgb(201, 177, 39, .5);
}
.container > #title {
  font: Verdana;
  font-size: 2em;
  background-color: rgb(96, 132, 163, .5 );
}

