/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: url(assets/images/Dips.gif);
  background-size: 100%;
  color: rgb(201, 177, 39);
  font: Verdana;
}
