body {
	background-image:
		url("/images/3d-rendering-black-dumbbells-floor-dark-concept-fitness-room-with-training-equipments-back_67155-14961.jpeg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
}

.opaque {
	background-color: rgba(236,240,234,.3);
}

.workoutHeader {
	color: #f3c400;
}

::placeholder { 
  color: black;
  opacity: 1; 
}